html,
body {
  overscroll-behavior-y: none;
}
body {
  margin: 0;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
}
canvas {
  user-select: none;
  -webkit-user-select: none;
}
a-scene {
  z-index: 1;
}
.a-enter-ar {
  display: none;
}
